<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
>

<head>
    <title>Job List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HR App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/joblist}">Job List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: crimson" th:utext="${userN}"></a></li>
                <li><a th:href="@{/logout}"><b style="font-size: small">Logout</b></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Job Title</th>
                        <th>Job Description</th>
                        <th>Number of Hire</th>
                        <th th:if="${role[0].role} == 'ADMIN'">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${jobs}" th:if="${s.isActive} == 1">
                        <td th:text="|${s.id}|"></td>
                        <td th:text="|${s.jobTitle}|"></td>
                        <td th:text="|${s.jobDescription}|"></td>
                        <td th:text="|${s.numOfHire}|"></td>
                        <td th:if="${role[0].role} == 'ADMIN'"><a th:href="@{'joblist/detail/' + ${s.id} }" class="btn"><i class="icon-align-justify"></i> <strong>Detail</strong></a></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <!--<tr>

                    </tr>
                    </tfoot>-->
                </table>
            </div><!--end of .table-responsive-->
        </div>
    </div>
</div>
</body>
</html>